@page "/components/arc-gauge"
@using Tail.Blazor.ArcGauge
@using Tail.Blazor.Docs.Shared
@using Microsoft.AspNetCore.Components

<PageTitle>ArcGauge - Tail.Blazor</PageTitle>

<DocPageTemplate Title="TailArcGauge" 
                 Description="Arc gauge component for displaying values as a semi-circular gauge. Ultra-lightweight (~5 KB)."
                 PackageName="Tail.Blazor.Visualization"
                 ApiParameters="@apiParameters">

    <DocSection Title="Installation">
        <CodePreview Title="Install Package" Code="@installCode" />
    </DocSection>

    <DocSection Title="Basic Usage">
        <CodePreview Title="Arc Gauge" Code="@basicCode">
            <PreviewContent>
                <TailArcGauge Value="75" Size="200" ShowLabel="true" />
            </PreviewContent>
        </CodePreview>
    </DocSection>

    <DocSection Title="Features">
        <div style="color: var(--color-text-primary);">
            <ul style="list-style: disc; padding-left: 1.5rem; space-y-2;">
                <li>Semi-circular arc gauge visualization</li>
                <li>Displays percentage values</li>
                <li>Customizable size</li>
                <li>Optional label display</li>
                <li>Configurable stroke width</li>
                <li>Full theme support with CSS variables</li>
                <li>Lightweight and performant</li>
            </ul>
        </div>
    </DocSection>
</DocPageTemplate>

@code {
    private string installCode = @"dotnet add package Tail.Blazor.ArcGauge";
    
    private string basicCode = @"<TailArcGauge Value=""75"" Size=""200"" ShowLabel=""true"" />";

    private List<DocPageTemplate.ApiParameter> apiParameters = new()
    {
        new DocPageTemplate.ApiParameter { Name = "Value", Type = "int", Default = "-", Description = "Current value to display (0-100 for percentage)" },
        new DocPageTemplate.ApiParameter { Name = "Size", Type = "int", Default = "200", Description = "Width of the gauge in pixels" },
        new DocPageTemplate.ApiParameter { Name = "StrokeWidth", Type = "int", Default = "20", Description = "Width of the arc stroke in pixels" },
        new DocPageTemplate.ApiParameter { Name = "ShowLabel", Type = "bool", Default = "true", Description = "Show percentage label inside the gauge" },
        new DocPageTemplate.ApiParameter { Name = "Style", Type = "string?", Default = "-", Description = "Additional inline styles" },
        new DocPageTemplate.ApiParameter { Name = "Class", Type = "string?", Default = "-", Description = "Additional CSS classes" }
    };
}

