@inherits LayoutComponentBase
@using Tail.Blazor.Badge
@using Tail.Blazor.ResponsiveLayout
@using Tail.Blazor.Feedback
@using Tail.Blazor.Core.Theme
@using Tail.Blazor.Core.Enums
@using Tail.Blazor.Container

<ThemeProvider>
    <TailResponsiveLayout AppName="Tail.Blazor"
                          ShowMenuToggle="true"
                          ShowThemeToggle="true"
                          ShowAvatar="false"
                          StickyHeader="true"
                          HeaderShadow="true"
                          ShowSidebar="true"
                          MenuOpenByDefault="true"
                          MenuOpenOnMobileByDefault="false"
                          LayoutMode="LayoutMode.DrawerLeft"
                          Density="DensityMode.Compact"
                          AutoHideOnMobileAfterNavigation="true"
                          MobileMenuTitle="Tail.Blazor Documentation">
        <LogoTemplate>
            <TailContainer Size="Tail.Blazor.Container.ContainerSize.Full" Class="flex items-center gap-2">
                <h1 class="text-xl font-bold" style="color: var(--color-text-primary)">Tail.Blazor</h1>
                <TailBadge Variant="Badge.BadgeVariant.Primary" Size="Badge.BadgeSize.Sm">v1.0.0</TailBadge>
            </TailContainer>
        </LogoTemplate>
        <SidebarContent>
            <DocsNavMenu />
        </SidebarContent>
        <ChildContent>
            <TailContainer Size="Tail.Blazor.Container.ContainerSize.Full" Class="p-1" HideScrollbars="false">
                @Body
            </TailContainer>
        </ChildContent>
    </TailResponsiveLayout>
</ThemeProvider>
